/* All */
body
{
    background-color: #F8F0E5 !important;
    font-family: 'Dosis', sans-serif !important;
}
.container-fluid
{
    text-align: center;
    margin: auto;
}
li
{
    margin: auto;
}
h4
{
    font-family: 'Handlee', cursive;
}
h2
{
    font-family: 'Yellowtail', cursive !important;
}
.navbar-brand
{
    font-family: 'Yellowtail', cursive;
}
/* todo page */
.input
{
 background-color: aliceblue;
 text-align: center;
 width: 33% !important;
 height: 400px !important;
 margin-top: 100px;
 border-color: black !important;
 border-width: 3px !important;
 border-style:solid ;
 
}

.area
{
    margin-bottom: 5px !important;
    width: 80% !important;
    height: 40px !important;
    transition: width 1s ease-in-out !important;
}
.area:focus
{
    width: 100% !important;
}
#details
{
    height: 100px !important;
}
.inside
{
    margin-top: 30px;
}
.test
{
    width: 200px;
    height: 40px;
    background: #186F65;
    position: relative;
    transition: width 2s ;
    cursor: cell !important;
    color: white;
}
.test:hover
{
    width: 300px;
}

.today
{
    text-align: center;
    width: 300px !important;
    background-color: #183D3D;
    margin: 5px;
   
}
.form-switch .form-check-input
{
    margin-top: 7px !important;
}
.btn
{
  transition: width 5s !important;
  /* transition-timing-function: linear; */
}
.btn:hover
{
    width: 300px;
    
}
/* today page */

.card
{
    margin-bottom: 5px;
}
.date
{
    background-color: gold;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2px;
}
.det 
{
    text-align: start;
    margin-left: 42px;
    color: rgb(169, 169, 169);
}
.task
{
    text-align: start;
    margin-left: 40px;
}
 /* footer */
footer
{
    position: absolute;
    background-color: #183D3D !important;
    bottom: 0px;
    text-align: center;
    color: antiquewhite;
}

  